{% extends 'base.html' %}

{% block title %}Pass Test - Mentor Bootstrap Template{% endblock %}

{% block content %}

  <section id="pass-test" class="pass-test">
    <div class="container" data-aos="fade-up">

      <h2>{{ test.title }}</h2>
      <p>{{ test.description }}</p>

      <form method="post" action="{% url 'testing:submit_test' test.id %}">
        {% csrf_token %}
        
        {% for question in test.questions.all %}
          <div class="question">
            <h4>{{ forloop.counter }}. {{ question.text }}</h4>

            {% for answer in question.answers.all %}
              <label>
                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                {{ answer.text }}
              </label><br>
            {% endfor %}

            <hr>
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-success mt-3">Завершить тест</button>
      </form>

    </div>
  </section>

{% endblock %}
