{% load static %}
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url "testing:home" %}">Test platform</a></h1>

      {% if user.is_authenticated %}
          <span class="btn btn-outline-primary m-lg-2">{{ user.username }}</span>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="get-started-btn" type="submit">Logout</button>
          </form>
        {% else %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button class="get-started-btn" type="submit">Login</button>
          </form>
        {% endif %}

    </div>
  </header>